<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{% static 'user_app/style.css' %}">
    <title>Twiter</title>
</head>
<body>
    <div class="wrapper">
    <!-- <header class="Header">
        <h1 class="login">Welcome to twitter</h1>
    </header> -->
        

    <div class="navbar">
        <a href="/">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> 
      </div>
    
    <div class="flexbox-item-continer">
        <!-- <div -->
    <main class="flexbox-item flex1">
      
      <h1>{{ request.user.username }}</h1>
      <ul>
        <form action="{% url 'posts:create_chirp' %}" method="post">
            {% csrf_token %}
            <input type="text" name="message"/>

            <button type="submit">message</button>
        </form>
      </ul>
    </main>
        <!-- </div> -->
        <!-- <div> -->
    <aside class="flexbox-item flex2">
        <ul>
        <li><a href="#">HOME</a></li>
        
        </ul>
    </aside>
    

    <!-- <aside class="flexbox-item flex3">
        <h4>
            twits
        </h4>
    </aside> -->
    </div>

</div>




</body>
</html>